/*colores*/
body {
<<<<<<< HEAD
    background: #fafafa;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
=======
    font-family: "Montserrat", "Helvetica Neue"
    background: #fafafa;
    padding: 0;
    margin: 0;
}
.navbar-brand{
    position: absolute;
    right: 0;
>>>>>>> db0e47929f93d640a292cd3f500139503ce596f9
}
.navbar-toggler i{
    font-size: 30px;
}
.navbar-toggler{
    cursor: pointer;
}
.Brown-darken-4{
    color: #3e2723;
}
<<<<<<< HEAD
.navbar{
    position: relative;
}
.nav-item{
    width: 100%;
} 
.nav-link{
    color: white;
    text-align: center;
    font-size: 20px;
}
.dropdown a:hover > .dropdown-menu{
    color: white;
}
#sidebar{
=======
@media (max-width: 960px) {
    #sidebar{
        margin-top: 0px;
        padding-top: 0;
        min-width: 240px;
        max-width: 240px;
        height: 100vh !important;
        margin-left:-240px;
        background-color:  white;
        color: black;
        border-color: #dee2e6 !important ;
        transition: margin 1s;
        transition-duration:.5s ;  
        position: absolute;
        z-index: 100;  
    }
  }
  #sidebar{
        margin-top: 0px;
        padding-top: 0;
>>>>>>> db0e47929f93d640a292cd3f500139503ce596f9
        min-width: 240px;
        max-width: 240px;
        height: 100vh !important;
        margin-left:0;
        background-color:  white;
        color: black;
<<<<<<< HEAD
        transition: margin 1s;
        transition-duration:.5s ;   
        position: absolute;
        top: 54px;
        left: 0;
        z-index: 100;  
  }

.panel{
 min-width: 240px;
 max-width: 270px;
}
.dtHorizontalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalExample th, td {
    white-space: nowrap;
    }
    
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }
=======
        border-color: #dee2e6 !important ;
        transition: margin 1s;
        transition-duration:.5s ;   
        position: absolute;
        z-index: 100;  
  }
  #sidebar.desactive{
    margin-left: -240px;
    transition: margin 1s;
    transition-duration:.5s ;    
}
  #sidebar.active{
    margin-left: 0;
    transition: margin 1s;
    transition-duration:1s ;    
}
.navbar.active{
    margin-left: 240px !important;
    transition: margin 1s;
    transition-duration:.5s ;    
}
.panel{
 min-width: 240px;
 max-width: 270px;
}
>>>>>>> db0e47929f93d640a292cd3f500139503ce596f9
