/*colores*/
body {
    font-family: "Montserrat", "Helvetica Neue"
    background: #fafafa;
    padding: 0;
    margin: 0;
}
.navbar-brand{
    position: absolute;
    right: 0;
}
.navbar-toggler i{
    font-size: 30px;
}
.navbar-toggler{
    cursor: pointer;
}
.Brown-darken-4{
    color: #3e2723;
}
@media (max-width: 960px) {
    #sidebar{
        margin-top: 0px;
        padding-top: 0;
        min-width: 240px;
        max-width: 240px;
        height: 100vh !important;
        margin-left:-240px;
        background-color:  white;
        color: black;
        border-color: #dee2e6 !important ;
        transition: margin 1s;
        transition-duration:.5s ;  
        position: absolute;
        z-index: 100;  
    }
  }
  #sidebar{
        margin-top: 0px;
        padding-top: 0;
        min-width: 240px;
        max-width: 240px;
        height: 100vh !important;
        margin-left:0;
        background-color:  white;
        color: black;
        border-color: #dee2e6 !important ;
        transition: margin 1s;
        transition-duration:.5s ;   
        position: absolute;
        z-index: 100;  
  }
  #sidebar.desactive{
    margin-left: -240px;
    transition: margin 1s;
    transition-duration:.5s ;    
}
  #sidebar.active{
    margin-left: 0;
    transition: margin 1s;
    transition-duration:1s ;    
}
.navbar.active{
    margin-left: 240px !important;
    transition: margin 1s;
    transition-duration:.5s ;    
}
.panel{
 min-width: 240px;
 max-width: 270px;
}