/*colores*/
body , *{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.bg-purple{
    background-color: #CE0075;
}
.navbar-toggler i{
    font-size: 30px;
}
.navbar-toggler{
    cursor: pointer;
}
.Brown-darken-4{
    color: #3e2723;
}
.navbar{
    position: relative;
}
.nav-item{
    width: 100%;
} 
.nav-link{
    color: white;
    text-align: center;
    font-size: 20px;
}
.dropdown a:hover > .dropdown-menu{
    color: white;
}
#sidebar{
        min-width: 240px;
        max-width: 240px;
        height: 100vh !important;
        margin-left:0;
        color: black;
        transition: margin 1s;
        transition-duration:.5s ;   
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 100;  
  }

.panel{
 min-width: 240px;
 max-width: 270px;
}
.colores div{
    display: inline-block;
}
.colores input[type="radio"]{
    display: none;
}

.colores input[type="radio"] + label span{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
}
span .fa-check{
    color: transparent;
}
.colores input[type="radio"]:checked + label span{
    background-color: rgba(0, 0, 0, .3) !important;
    opacity: .3;
}
.colores input[type="radio"]:checked + label span .fa-check{
    color:white;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.navbar{
    z-index: 1;
}
.product-detail h4{
    margin: 2,5px 0; 
}
.card-dash{
    background: linear-gradient(to bottom, #FA71CD,#C471F5);
}
.card{
    border-radius: 10px; 
    height: 100%;
    position: relative;
}
.card-icon{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -25px;
    background-color: white;
    left: 5px;
    background-color:  #D8007A;
    border-radius: 10px; 
}
.card-icon i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.card-subtitle h3  {
    font-weight: bolder;
}
.card-footer{
    background-color: white;
    height: 35px !important;
}
.card-footer i .i-time{
    font-family: arial, helvetica, 'arial unicode ms', sans-serif;
}
.content{
    position: absolute;
    z-index: 10;
    right: 0;
}
.notification{
    max-height: 400px;
}
 .notification .card-body{
    max-height: 360px;
    overflow: auto;
}

.tabla-editar-imagenes{
    overflow: scroll;
    max-height: 300px !important;
    width: 100%;
}