body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/*estilo de los links del menu*/
.navbar #navbarMenu a{
    color:#707070 !important;
    font-family: 'Roboto Condensed', sans-serif;
}
/*pointer en los ico*/
.navbar #navbarMenu i{
    cursor: pointer;
}
/*hover de los nav-link*/
.navbar #navbarMenu .nav-link:hover,.navbar #navbarMenu .navbar-brand:hover{
    color: black !important;
    transition-delay: .2s;
}
/*estilo del navbar brand logo*/
.borde{
    border: solid 1.5px #707070;
}

#navbarMenu .navbar-brand, .navbar-brand-xs{
    font-family: Impact, Charcoal, sans-serif !important;
    color:#707070 !important;
    padding-left: 7px;
    padding-right: 7px;
    letter-spacing: 2px;   
}
/* items del menu xs */
#i-xs-buscar, #i-xs-carrito{
    position: relative;
    top: 7px;
    padding: 0px 7px;
    color: #707070;
    cursor: pointer;
}

/*imagen de fondo de inicio*/
#fondo{
    background-image:url('../img/Fondo-2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -10;
}
/*contenido que va dentro de la imagen*/
#fondo{
    position: relative;
}
#fondo .d-centro{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#fondo .d-centro .Titulo{
    font-family: Impact, Charcoal, sans-serif !important;
    font-size: 80px;
    color:white;
    padding: 0;
    margin: 0;
}
#fondo .d-centro .sub-titulo{
    text-align: center;
    font-family: 'Gabriela', serif;
    font-size: 40px;
    color:white;
    padding: 0 0 10px 0;
    margin-top: -20px;
}
#fondo .d-centro .botones{
    position: absolute;
    left: 0;
    transform: translateX(2%);
}
#fondo .d-centro .botones .btn{
    margin: 0 2px;
    background-color: white;
    border-radius: 50px;
}

/*estilo de la seccion de categoria*/
.d-categoria{
    position: relative;
    height: 100%;
    z-index: 100;
}
.d-categoria .Titulo-categoria{
    padding: 35px 0 25px 0;
    font-family: Impact, Charcoal, sans-serif !important;
    font-size: 45px;
    text-align: center;
}
.card-categoria{
    margin: 20px 0;
    border: none;
}
.card-img{
    padding: 15px 10;
    height: 450px;
    background-color: #707070;
}
.card-categoria .btn{
    border: solid 1px #707070;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    --webkit-box-shadow: 14px 17px 17px -12px rgba(156,154,156,0.75);
    -moz-box-shadow: 14px 17px 17px -12px rgba(156,154,156,0.75);
    box-shadow: 14px 17px 17px -12px rgba(156,154,156,0.75);
}

/*estilo de d-destacados*/

.d-destacados{
    position: relative;
    margin: 20px 0; 
}
.Titulo-destacados{
    padding: 35px 0 25px 0;
    font-family: Impact, Charcoal, sans-serif !important;
    font-size: 45px;
    text-align: center;
}
.card-img-destacados{
    height: 380px;
    background-color: #707070;
}
.card-destacados{
    border: none;
}
.card-destacados .btn{
    border: solid 1px #707070;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    --webkit-box-shadow: 14px 17px 17px -12px rgba(156,154,156,0.75);
    -moz-box-shadow: 14px 17px 17px -12px rgba(156,154,156,0.75);
    box-shadow: 14px 17px 17px -12px rgba(156,154,156,0.75);
}

/*footer*/
.f-foot{
    position: relative;
    bottom: 0;
    background-color: #FE4141;
    padding: 20px;
}
.f-horarios, .f-redes{
    opacity: 69%;
    color:white;
    text-align: center;
}
.f-foot h1{
    font-family: Impact, Charcoal, sans-serif !important;
}